.group
  ==f.label :title
  ==f.error_message_on :title
  ==f.text_field :title, :class => :text_field
  br
  span.description Ex: a simple text

.group
  ==f.label :status
  ==f.error_message_on :status
  ==f.select :status, :options => [['Draft', 'draft'], ['Open', 'open'], ['Close', 'close']]

.group
  ==f.label :published_at
  ==f.error_message_on :published_at
  ==f.text_field :published_at, :class => :text_field

.group
  ==f.label :category
  ==f.error_message_on :category
  - if @categories.length != 0
    ==f.select :category_id, :include_blank => '(none)', :collection => @categories, :fields => [:name, :id]
  - else
    ==f.select :category_id, :options => [['...', '']]

.group
  ==f.label :body
  ==f.error_message_on :body
  ==f.text_area :body, :class => :text_area, :rows => 30
  br
  span.description Ex: a simple text

.group.navform.wat-cf
  ==f.submit pat(:save), :class => :button
  =="&nbsp;"
  ==f.submit pat(:cancel), :onclick => "window.location='#{url(:posts, :index)}';return false", :class => :button
