.group
  ==f.label :code
  ==f.error_message_on :code
  ==f.text_field :code, :class => :text_field
  br
  span.description Ex: a simple text

.group
  ==f.label :name
  ==f.error_message_on :name
  ==f.text_field :name, :class => :text_field
  br
  span.description Ex: a simple text


.group.navform.wat-cf
  ==f.submit pat(:save), :class => :button
  =="&nbsp;"
  ==f.submit pat(:cancel), :onclick => "window.location='#{url(:categories, :index)}';return false", :class => :button
